<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<div ng-constroller="clienteCtrl" id="content-top">
	<div ng-show="index==false" >
		<br>
		<form novalidate="novalidate">
			<div class="row">
				<div class="col-12 col-md-9">
					<label class="control-label" style="font-weight: bold;" for="cliente">Nome</label> <input
						type="text" id="cliente" class="form-control linhaMobile"
						ng-model="cliente.nome"/>
				</div>
			</div>
			<br>
		</form>
			<br>
			<div class="row">
				<br>
				<div class="centralizar">
					<a ng-click="cancelar()" class="btn btn-dark "
						style="color: white !important">Voltar</a> &nbsp;&nbsp; <a
						ng-click="salvar(cliente)" class="btn btn-dark "
						style="color: white !important">Salvar</a>
				</div>
			</div>
		
	</div>
	<br>
	<!-- 				</div>
			</div>
		</div>
	</div> -->
	<div ng-show="index==true" >
		<div class="row container-web">
			<div class="col-6 col-md-6 titulo">
				<span style="font-weight: bold;">CLIENTES {{totalRegistros}}</span>
			</div>
			<div class="col-6 col-md-6 user">
				<p align="right" ><button type="button" ng-click="novo()"
					class="btn btn-dark btnMobile">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button></p>
			</div>
		</div>
		<br>

		<div class="row"></div>
		<br>
		<div class="panel-body table-header">
			<div class="row">
				<div class="col-3 col-md-3">ID</div>
				<div class="col-7 col-md-7">Nome</div>
				<div class="col-2 col-md-2"></div>
			</div>
		</div>

		<div class="panel-body" ng-repeat="cliente in clientes">
			<div class="row semMargem" style="color: black;">
				<div class="col-3 col-md-3">{{ cliente.id }}</div>
				<div class="col-7 col-md-7">{{cliente.nome}}</div>
				<div class="col-2 col-md-2 btn-group semMargem float-right">
					<a ng-click="alterar(cliente)"
						class="btn btn-small btn-dark btnMobile "> <span
						class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</a> &nbsp;
					<button type="button" ng-click="excluir(cliente.id)"
						class="btn btn-small btn-dark btnMobile ">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<div class="row" style="background: black; height: 2px;">
				<div class="col-12 col-md-12">&nbsp;</div>
			</div>

		</div>
	</div>
	<br>
	<br>
	<fullscreen-dialog ng-show="isVisible.loading">
	<div class="dialog">
		<div class="content">
			<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
		</div>
	</div>
	</fullscreen-dialog>
	</div>
</div>

